/* Styles for Firebase message demo. */

html,
body {
  font-family: Roboto, sans-serif;
}

h2 {
  margin: 0;
}

.message-container {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 20px 20px 0;
  padding: 16px;
  width: 640px;
}

#token,
.message-body {
  font-family: Inconsolata, monospace;
}

.token-container {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 20px 20px 0;
  overflow-wrap: break-word;
  padding: 16px;
  width: 640px;
}

.message-metadata,
.token-title {
  font-size: 75%;
}

.message-metadata {
  margin-top: 8px;
}

.token-title {
  margin-bottom: 8px;
}
